/* BEGIN (write your solution here) */
.left-aside{
    min-height: 50vh;
    width: 200px;
    background-color: #d32f2f;
}

.content-side {
    flex-grow: 1; 
    min-height: 50vh;
    background-color: #388e3c;
}

.right-aside {
    min-height: 50vh;
    width: 350px;
    background-color: #1976d2;
}
/* END */

.d-flex {
    display: flex;
  }