body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 10px;
  
    color: #fff;
    font: 18px/1.5 sans-serif;
  
    background-color: #212529;
  }
  
  h2,
  p {
    margin: 0;
  }
  
  /* BEGIN (write your solution here) */
  .timeline{
    padding: 30px 0 30px 50px;
    border-left: 2px solid #fff;
    height:100%;
    margin: 0;
    position: relative;
  }
  .timeline-item::before{
    
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #80fcff;
    border-radius: 50%; 
    position: absolute;
    left: -11px;
    

  }
  .timeline-item {
    margin-bottom: 100px;
    list-style-type: none;
  }
  .timeline-item:last-child{
    margin-bottom: 0;
  }

  
  /* END */